@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=UnifrakturCook:wght@700&family=Inter:wght@400;500&family=Crimson+Text:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@layer base {
  html {
    @apply transition-colors duration-300 scroll-smooth;
  }

  body {
    @apply bg-primary dark:bg-tertiary
     text-sm font-['Poppins'] font-normal overflow-x-hidden 
      bg-fixed bg-center 
      text-tertiary dark:text-primary transition-all duration-300;
  }

  .hamburger-button {
    @apply fixed top-5 left-4 z-50 bg-slate-800 dark:bg-white
    xl:text-3xl
     text-rose-50 dark:text-tertiary px-3 py-2 rounded cursor-pointer;
  }
  .main-content {
    @apply flex-1 flex-col xl:flex-row p-2 w-full transition-all ease-in-out duration-300;
  }
  .hero {
    @apply min-h-screen flex flex-col items-center justify-center p-4 relative overflow-hidden;
  }

  .hero-content {
    @apply flex relative my-24;
  }

  .hero-item {
    @apply py-16 pb-7 flex flex-col lg:flex-row static mx-auto;
  }

  .hero-detail {
    @apply max-w-[300px] p-2 text-left lg:text-right;
  }

  .hero .hero-content .hero-detail .hero-detail {
    @apply mb-8 text-left lg:text-right text-lg lg:text-3xl lg:leading-[30px];
  }

  .hero-title {
    @apply -mt-16 -mr-15 md:-mr-30 lg:-mr-50 mb-8 text-3xl md:text-5xl lg:text-6xl 
    font-extrabold 
    tracking-[0.02rem] z-5 leading-[72px] font-['Quicksand'] 
    bg-gradient-to-b from-pink-500 to-purple-600 dark:to-pink-300 bg-clip-text
    text-transparent overflow-ellipsis
    relative -top-7 md:-right-10   xl:text-[60px];
  }

  .hero-title span {
    @apply max-w-[400px] inline-grid transition-all duration-200;
  }

  .hero-title .name {
    @apply text-red-600 dark:text-rose-50;
  }

  .hero-name {
    @apply min-w-[300px] flex items-end relative;
  }

  .hero-name h3 {
    @apply pb-4 text-[30px] font-light leading-[42px] relative md:text-[42px] md:leading-[50px];
  }

  .hero-name h3 span {
    @apply max-w-[300px] inline-grid text-purple-500;
  }

  .hero-img {
    @apply max-w-[300px] mx-8 relative rounded-4xl 2xl:max-w-[350px];
  }

  .card {
    @apply relative rounded-4xl overflow-hidden text-ellipsis shadow-lg inline-block 
    transform [transform-style:preserve-3d] perspective-[1000px];
  }

  .card img {
    @apply w-full transition-all duration-300 grayscale ease-in-out;
  }

  .card:hover {
    @apply shadow-lg z-5 transition-transform rotate-6 scale-105 duration-300 opacity-90;
  }

  .hero .hero-content .hero-img .card:hover img {
    @apply grayscale-0;
  }

  /* Hero Actions */
  .hero-actions {
    @apply flex flex-col items-end gap-6 mt-8 -mr-2 md:mr-0 mb-4 md:mb-8;
  }

  .cta-section {
    @apply flex justify-start;
  }

  .cta-button {
    @apply flex items-center gap-3 px-6 py-3 
         bg-gradient-to-r from-purple-600 to-pink-600 
         text-xl 
         text-white font-semibold rounded-full
         transition-all duration-300 ease-in-out
         hover:scale-105 hover:shadow-lg hover:animate-none
         transform hover:-translate-y-1;
  }

  .cta-button:hover {
    @apply from-purple-700 to-pink-700;
  }

  /* Common */

  .component {
    @apply min-h-screen w-full flex flex-col items-center justify-center p-4 relative;
  }
  .section-heading {
    @apply text-center;
  }
  .section-heading h2 {
    @apply inset-x-0 top-0 py-12 text-2xl md:text-5xl lg:text-6xl leading-tight lg:leading-none font-bold font-['Quicksand'] 
    bg-gradient-to-b from-pink-500 to-purple-600 dark:to-pink-300 bg-clip-text text-transparent;
  }
  .section-heading h2 span {
    @apply text-[#ff6f6f];
  }

  /* Common  End*/

  /* About Section*/

  .about-details {
    @apply relative w-full px-4 xl:px-30 inset-0 mx-4 grid grid-cols-1 xl:grid-cols-2 gap-10;
  }
  .about-detail {
    @apply px-4;
  }
  .about-detail h4 {
    @apply text-xl md:text-3xl lg:text-4xl leading-normal lg:leading-7 
    font-bold font-['Poppins'];
  }

  .about-detail .about-text {
    @apply italic text-xs md:text-xl lg:text-3xl leading-normal lg:leading-15 
    font-normal font-['Poppins'];
  }
  /* About Section Ended*/

  /* Skills Section*/
  .skills-bar {
    @apply grid grid-cols-6 md:grid-cols-6 
      justify-evenly gap-4 
      absolute inset-x-0 top-30
      m-4 p-8 md:p-16 lg:p-26;
  }

  /* Skill Component */
  .skill {
    @apply flex flex-row items-center justify-between 
    m-2 p-3 hover:scale-110 transition-all 
    text-center duration-300 ease-in-out 
    bg-secondary dark:bg-tertiary/50 
    
    rounded-4xl;
  }

  .skill img {
    @apply min-h-[30px] min-w-[30px] max-w-[40px] max-h-[40px];
  }

  .skill h6 {
    @apply relative text-center text-xs md:text-sm lg:text-xl leading-tight font-semibold font-['Poppins'];
  }
  /* Skill Component End*/
  /* Skills Section End */

  /* Portfolio Component */
  .projects-outer {
    @apply relative m-2 px-2 lg:px-20 xl:px-30 w-full;
  }

  .projects-react-tabs {
    @apply justify-center;
  }

  .projects-list-inner {
    @apply px-2 mx-4 grid grid-cols-1 xl:grid-cols-2 
    gap-8;
  }

  .no-projects {
    @apply text-lg italic text-center py-16 col-span-2;
  }

  .project-box {
    @apply transition-all duration-300 ease-in-out flex flex-col
         w-full h-full min-h-[300px] mx-auto p-2 
         justify-between
         cursor-default rounded-2xl relative overflow-hidden
         shadow-sm shadow-tertiary dark:shadow-primary 
         bg-gradient-to-b
         from-secondary via-primary to-secondary
         dark:from-black/10 dark:via-black dark:to-black/10;
  }

  .project-box h3 {
    @apply text-lg md:text-3xl font-semibold;
  }

  .links {
    @apply cursor-pointer;
  }

  .project-box a {
    @apply text-sm md:text-lg my-2 font-light;
  }

  .project-box a:hover {
    @apply text-[#ff6f6f] dark:text-blue-600;
  }

  .project-box p {
    @apply text-xs md:text-xl;
  }

  .project-info {
    @apply flex min-h-[70px] flex-row justify-evenly;
  }

  .project-box img {
    @apply block;
  }

  .portfolio-tabs {
    @apply w-full p-2 text-center;
  }

  .portfolio-tabs ul {
    @apply flex flex-wrap h-full gap-2 justify-center text-sm sm:text-base;
  }

  .portfolio-tabs ul li {
    @apply inline-block cursor-pointer font-['Poppins'] hover:text-violet-500
         mx-auto p-2 md:m-4 md:p-6
         text-xs md:text-xl lg:text-3xl
         transition-all duration-400 uppercase ease-in-out;
  }

  .portfolio-img {
    @apply transition-all duration-300 ease-in-out m-2
          overflow-hidden items-center relative;
  }

  .portfolio-img a {
    @apply w-18 md:w-24 lg:w-30 xl:w-50 xl:h-30 bg-cover bg-center bg-no-repeat bg-inherit 
         block relative;
  }

  .portfolio-img img {
    @apply h-fit w-fit transition-all duration-300 ease-in-out rounded-3xl object-contain;
  }
  .project-modal-bg {
    @apply fixed inset-0 bg-black/40 backdrop-blur-sm flex items-center justify-center z-50 h-screen w-screen;
  }

  .project-modal {
    @apply bg-secondary dark:bg-tertiary rounded-4xl 
    p-6 m-4
    text-xs md:text-sm lg:text-xl xl:text-2xl
    max-w-[95vw] sm:max-w-[80vw] lg:max-w-[500px] max-h-[85vh] w-full shadow-lg overflow-y-auto;
    scrollbar-color: var(--color-tertiary);
  }

  .project-modal::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
    background: #f3e0c0; /* track color */
  }

  .project-modal::-webkit-scrollbar-thumb {
    background: #b48e5a; /* thumb color */
    border-radius: 8px;
    border: 2px solid #f3e0c0; /* creates a gap effect */
  }

  .project-modal::-webkit-scrollbar-thumb:hover {
    background: #a0763c;
  }

  .project-modal h3 {
    @apply text-lg md:text-2xl xl:text-3xl font-bold  mb-1 xl:mb-4;
  }

  .project-modal button {
    @apply cursor-pointer px-4 py-2 mt-4 dark:bg-primary bg-tertiary 
    text-secondary dark:text-tertiary rounded-xl;
  }

  .modal-details p {
    @apply text-xs md:text-sm lg:text-lg xl:text-xl xl:mb-8 leading-relaxed;
  }

  .modal-subdetails {
    @apply space-y-2 lg:space-y-4 xl:space-y-8;
  }
  .modal-subdetails h3 {
    @apply text-sm xl:text-2xl font-semibold xl:mb-4 flex items-center;
  }

  .modal-subdetails ul {
    @apply space-y-1 xl:space-y-3;
  }
  .modal-subdetails li {
    @apply flex items-start;
  }

  .modal-subdetails span {
    @apply text-[10px] xl:text-[11px];
  }

  .project-box .portfolio-img .overlay {
    @apply transition-all duration-300 ease-in-out
         w-full h-full absolute top-0 left-0
         bg-black backdrop-opacity-50
         flex items-center justify-center
         text-[40px] text-white
         opacity-0;
  }

  .project-box:hover .portfolio-img {
    @apply group-hover:shadow-none;
  }

  .project-box .project-detail {
    @apply flex-1;
  }

  .project-box .project-detail ul {
    @apply mx-2 px-2;
  }

  .project-box .project-detail ul li {
    @apply py-[5px] font-['Poppins'] md:text-2xl;
  }

  /* Portfolio Component End*/

  /* Contact Component Start*/

  .socials-section ul {
    @apply flex gap-10 p-1 justify-items-stretch items-center;
  }

  .socials-section ul li {
    @apply ml-[5px];
  }

  .socials-section ul li p {
    @apply w-[30px] h-[30px] text-sm md:text-3xl hover:scale-120;
  }

  /* Contact Component End*/

  .row {
    @apply flex flex-wrap -mx-4;
  }

  .row > * {
    @apply px-4;
  }

  .sidebar-content-outer {
    @apply pl-2 md:pl-4 lg:pl-6 py-50 md:py-10 lg:py-40;
  }

  .sidebar-content-inner {
    @apply mb-6 space-y-10 md:space-y-12 lg:space-y-30 xl:space-y-50 top-1/5  left-2;
  }

  .sidebar-section-bullet {
    @apply transition-all duration-300 cursor-pointer flex items-center text-lg 
    md:text-2xl lg:text-4xl xl:text-5xl;
  }

  .sidebar-section-bullet a {
    @apply ml-12 md:ml-14 lg:ml-16 hover:text-violet-500 transition-all duration-200;
  }

  .sidebar-close-button {
    @apply absolute top-2 right-4 z-50 cursor-pointer xl:text-3xl bg-secondary/50 text-tertiary p-4 rounded-2xl;
  }

  .sidebar-darkmode {
    @apply relative top-0;
  }

  .darkmode-button {
    @apply right-9  p-2 rounded-full border-4 border-indigo-600 cursor-pointer hover:scale-150 transition-all duration-300;
  }
}

@layer components {
  .sidebar {
    @apply fixed top-0 left-0 h-full p-4 bg-slate-900 text-red-50 z-50 transition-all duration-300 ease-in-out;
  }
}

@theme {
  --color-primary: #d4aa7d; /* Example: blue */
  --color-secondary: #efd09e; /* Example: orange */
  --color-tertiary: #272727; /* Example: green */
  --color-dark-primary: #1a1c22;
  --color-dark-secondary: #5a5c6a;
  --color-dark-tertiary: #a7a8b2;
}
